--
-- PostgreSQL database dump
--

-- Dumped from database version 16.8
-- Dumped by pg_dump version 16.8

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: clients; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: abonims; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: sections; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: teachers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: schedule; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: lessons; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lessons (id, schedule_id, title, status, section_id, teacher_id, date, duration) FROM stdin;
\.


--
-- Data for Name: subscriptions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.subscriptions (id, client_id, lesson_id, start_date, end_date, visit_count, used_visits) FROM stdin;
3	79	\N	2025-05-01	2025-05-31	4	0
5	81	\N	2025-05-18	2025-06-06	4	4
\.


--
-- Data for Name: records; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.session (sid, sess, expire) FROM stdin;
R9jMurM1mL_NgXYUvvVJ3Ae7L1Gtdn7s	{"cookie":{"originalMaxAge":604800000,"expires":"2025-05-30T11:24:31.485Z","secure":false,"httpOnly":true,"path":"/","sameSite":"lax"},"user":{"id":10,"username":"admin1","role":"admin","type":"main_admin"}}	2025-05-30 14:24:39
2ecA1kiKRFrIh6DWdEymqHG1cQSmyWBQ	{"cookie":{"originalMaxAge":604800000,"expires":"2025-05-30T10:35:37.407Z","secure":false,"httpOnly":true,"path":"/","sameSite":"lax"},"user":{"id":10,"username":"admin1","role":"admin","type":"main_admin"}}	2025-05-30 13:35:38
\.


--
-- Data for Name: teacher_sections; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.teacher_sections (teacher_id, section_id) FROM stdin;
73	60
74	59
74	58
75	54
75	61
75	53
76	49
76	57
79	57
69	49
69	57
70	51
77	56
77	64
71	52
\.


--
-- Data for Name: user_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, username, password, is_admin, role, type) FROM stdin;
10	admin1	$2a$10$NLpfcGRPLDk1XuW.pyYjceZePFvszEf8Hbj5RSN0YizltbzDKx7gm	t	admin	main_admin
14	admin2	$2a$06$fx41Hs5efr1U6uSET6mHGuS4lw4BGcHBftJx.VBBDnwWcgzOwcBSC	f	admin	subadmin
\.


--
-- Name: abonims_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.abonims_id_seq', 32, true);


--
-- Name: clients_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.clients_id_seq', 92, true);


--
-- Name: lessons_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lessons_id_seq', 2, true);


--
-- Name: records_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.records_id_seq', 87, true);


--
-- Name: schedule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.schedule_id_seq', 119, true);


--
-- Name: sections_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sections_id_seq', 88, true);


--
-- Name: subscriptions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.subscriptions_id_seq', 5, true);


--
-- Name: teachers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.teachers_id_seq', 97, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 15, true);


--
-- PostgreSQL database dump complete
--

